
/* 表示領域に合わせてサイズと余白を設定 */
div.marquee {
    font-size: 16px;
    padding-left: 100%;
    white-space: nowrap;
        
    animation-duration: 10s;
    animation-name: marquee;
    animation-timing-function: linear;
}
@keyframes marquee {
    from    { transform: translate(0%); } 
    100%,to { transform: translate(-100%); }
}

body{
    overflow: hidden;
}